* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #34404b;
	box-sizing: border-box;
}

.btn-default {
	border: 1px solid #E0DFE0 !important;
}

.out {
	margin-top: 30px;
}
