body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #34404b;
}

#all {
    text-align: center;
    margin: 100px auto;
}

#oned,
#out{
    margin: 20px;
}
