* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #34404b;
    box-sizing: border-box;
}

.left,
.right {
    float: left;
    width: 20%;
    padding: 20px;
}

.left {
    background: coral;
}

.right {
    background: orange;
}
