body {
    color: #34404b;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

#test {
    width: 150px;
    height: 150px;
    background: orange;
    margin: 30px;
}

#out {
    width: 300px;
    height: 150px;
    margin: 30px;
}
