* {
  margin: 0;
  box-sizing: border-box;
  color: #34404b;
  font-family: 'Open Sans Condensed', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.bordered {
  border: 2px solid black;
  box-shadow: 0 0 10px black;
}